* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #ff8a00;
}
header .left {
  width: 70%;
}
header .left img {
  width: 80%;
  height: 100%;
}
header .right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
header .right img {
  width: 30%;
  height: 80%;
}
footer {
  padding: 1rem 1.5rem;
  background-color: #2F3130;
}
footer .top {
  font-size: 1.6rem;
  color: #8f9090;
  margin-bottom: 1rem;
}
footer .bottom {
  display: flex;
  margin-top: 1rem;
}
footer .bottom .left {
  width: 14.5rem;
  display: flex;
  align-items: center;
}
footer .bottom .left .apple {
  width: 4rem;
  height: 4rem;
  background: url('../image/index/apple.png') no-repeat center;
  background-size: 50%;
}
footer .bottom .left .app_cor {
  color: #8f9090;
}
footer .bottom .right {
  width: 14.5rem;
  display: flex;
  align-items: center;
}
footer .bottom .right .apple {
  width: 4rem;
  height: 4rem;
  background: url('../image/index/android.png') no-repeat center;
  background-size: 50%;
}
footer .bottom .right .app_cor {
  color: #8f9090;
}
footer p:nth-child(4) {
  color: #8f9090;
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
footer p:nth-child(5) {
  color: #8f9090;
  text-align: center;
}
.base {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #171818;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.base .close {
  width: 1.5rem;
  background: url('../image/index/close.png') no-repeat 0rem 0rem;
  background-size: 100%;
}
.base .home {
  margin-top: 1rem;
  width: 3rem;
  background: url('../image/index/download.png') no-repeat center;
  background-size: 100%;
}
.base div:nth-child(3) {
  margin-top: 0.5rem;
}
.base div:nth-child(3) h2 {
  color: white;
}
.base div:nth-child(3) p {
  color: white;
}
.base div:nth-child(4) {
  padding-left: 3rem;
  padding-top: 1.5rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: white;
  width: 10.6rem;
  background-color: #ff8a00;
}
